div#main .container {
    --offset: 6.675%
}

div#main .container button,
div#main .container span[class^="br_"],
div#main .container span[class^="archetype-"],
div#main .container span[class^="misc-"] {
    pointer-events: none;
    background-color: transparent;
    background-image: url(../resources/images/collections.png);
    background-size: 1600%;
    background-position: calc(var(--offset) * 15) calc(var(--offset) * 15);
    transform: scale(1.8);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border: none;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    image-rendering: pixelated;
}


/*---------------- nodes ---------------- */

/* -------- archer -------- */

div#main .container button.button_archer.enable {
    background-position: calc(var(--offset) * 4) 0;
}

div#main .container button.button_archer.disable {
    background-position: calc(var(--offset) * 4) calc(var(--offset) * 1);
}

div#main .container button.button_archer.standby {
    background-position: calc(var(--offset) * 4) calc(var(--offset) * 2);
}

/* -------- warrior -------- */

div#main .container button.button_warrior.enable {
    background-position: calc(var(--offset) * 5) 0;
}

div#main .container button.button_warrior.standby {
    background-position: calc(var(--offset) * 5) calc(var(--offset) * 1);
}

div#main .container button.button_warrior.disable {
    background-position: calc(var(--offset) * 5) calc(var(--offset) * 2);
}

/* -------- mage -------- */

div#main .container button.button_mage.enable {
    background-position: calc(var(--offset) * 6) 0;
}

div#main .container button.button_mage.disable {
    background-position: calc(var(--offset) * 6) calc(var(--offset) * 1);
}

div#main .container button.button_mage.standby {
    background-position: calc(var(--offset) * 6) calc(var(--offset) * 2);
}

/* -------- assassin -------- */

div#main .container button.button_assassin.enable {
    background-position: calc(var(--offset) * 7) 0;
}

div#main .container button.button_assassin.disable {
    background-position: calc(var(--offset) * 7) calc(var(--offset) * 1);
}

div#main .container button.button_assassin.standby {
    background-position: calc(var(--offset) * 7) calc(var(--offset) * 2);
}

/* -------- shaman -------- */

div#main .container button.button_shaman.enable {
    background-position: calc(var(--offset) * 8) 0;
}

div#main .container button.button_shaman.disable {
    background-position: calc(var(--offset) * 8) calc(var(--offset) * 1);
}

div#main .container button.button_shaman.standby {
    background-position: calc(var(--offset) * 8) calc(var(--offset) * 2);
}

/* -------- button_1 -------- */

div#main .container button.button_1.enable {
    background-position: 0 0;
}

div#main .container button.button_1.standby {
    background-position: 0 calc(var(--offset) * 1);
}

div#main .container button.button_1.disable {
    background-position: 0 calc(var(--offset) * 2);
}

div#main .container button.button_1.locked {
    background-position: 0 calc(var(--offset) * 3) !important;
}

div#main .container button.button_1.standby:not(.locked):has(+ .tooltip .symbol-deny[data-update]) {
    background-position: 0 calc(var(--offset) * 2) !important;
}

/* -------- button_2 -------- */

div#main .container button.button_2.enable {
    background-position: calc(var(--offset) * 1) 0;
}

div#main .container button.button_2.standby {
    background-position: calc(var(--offset) * 1) calc(var(--offset) * 1);
}

div#main .container button.button_2.disable {
    background-position: calc(var(--offset) * 1) calc(var(--offset) * 2);
}

div#main .container button.button_2.locked {
    background-position: calc(var(--offset) * 1) calc(var(--offset) * 3) !important;
}

div#main .container button.button_2.standby:not(.locked):has(+ .tooltip .symbol-deny[data-update]) {
    background-position: calc(var(--offset) * 1) calc(var(--offset) * 2) !important;
}

/* -------- button_3 -------- */

div#main .container button.button_3.enable {
    background-position: calc(var(--offset) * 2) 0;
}

div#main .container button.button_3.standby {
    background-position: calc(var(--offset) * 2) calc(var(--offset) * 1);
}

div#main .container button.button_3.disable {
    background-position: calc(var(--offset) * 2) calc(var(--offset) * 2);
}

div#main .container button.button_3.locked {
    background-position: calc(var(--offset) * 2) calc(var(--offset) * 3) !important;
}

div#main .container button.button_3.standby:not(.locked):has(+ .tooltip .symbol-deny[data-update]) {
    background-position: calc(var(--offset) * 2) calc(var(--offset) * 2) !important;
}

/* -------- button_4 -------- */

div#main .container button.button_4.enable {
    background-position: calc(var(--offset) * 3) 0;
}

div#main .container button.button_4.standby {
    background-position: calc(var(--offset) * 3) calc(var(--offset) * 1);
}

div#main .container button.button_4.disable {
    background-position: calc(var(--offset) * 3) calc(var(--offset) * 2);
}

div#main .container button.button_4.locked {
    background-position: calc(var(--offset) * 3) calc(var(--offset) * 3) !important;
}

div#main .container button.button_4.standby:not(.locked):has(+ .tooltip .symbol-deny[data-update]) {
    background-position: calc(var(--offset) * 3) calc(var(--offset) * 2) !important;
}


/*---------------- branches ---------------- */

/* -------- 2 Gates -------- */

/* ---- NS ---- */

div#main .container span.br_NS {
    background-position: 0 calc(var(--offset) * 4);
}

div#main .container span.br_NS.NS {
    background-position: calc(var(--offset) * 1) calc(var(--offset) * 4);
}

/* ---- EW ---- */

div#main .container span.br_EW {
    background-position: calc(var(--offset) * 2) calc(var(--offset) * 4);
}

div#main .container span.br_EW.EW {
    background-position: calc(var(--offset) * 3) calc(var(--offset) * 4);
}

/* ---- SE ---- */

div#main .container span.br_SE {
    background-position: calc(var(--offset) * 4) calc(var(--offset) * 4);
}

div#main .container span.br_SE.SE {
    background-position: calc(var(--offset) * 5) calc(var(--offset) * 4);
}

/* ---- SW ---- */

div#main .container span.br_SW {
    background-position: calc(var(--offset) * 6) calc(var(--offset) * 4);
}

div#main .container span.br_SW.SW {
    background-position: calc(var(--offset) * 7) calc(var(--offset) * 4);
}

/* -------- 3 Gates -------- */

/* ---- NSE ---- */

div#main .container span.br_NSE {
    background-position: 0 calc(var(--offset) * 5);
}

div#main .container span.br_NSE.NS {
    background-position: calc(var(--offset) * 1) calc(var(--offset) * 5);
}

div#main .container span.br_NSE.NE {
    background-position: calc(var(--offset) * 2) calc(var(--offset) * 5);
}

div#main .container span.br_NSE.SE {
    background-position: calc(var(--offset) * 3) calc(var(--offset) * 5);
}

div#main .container span.br_NSE.NSE {
    background-position: calc(var(--offset) * 4) calc(var(--offset) * 5);
}

/* ---- NSW ---- */

div#main .container span.br_NSW {
    background-position: calc(var(--offset) * 5) calc(var(--offset) * 5);
}

div#main .container span.br_NSW.NS {
    background-position: calc(var(--offset) * 6) calc(var(--offset) * 5);
}

div#main .container span.br_NSW.NW {
    background-position: calc(var(--offset) * 7) calc(var(--offset) * 5);
}

div#main .container span.br_NSW.SW {
    background-position: calc(var(--offset) * 8) calc(var(--offset) * 5);
}

div#main .container span.br_NSW.NSW {
    background-position: calc(var(--offset) * 9) calc(var(--offset) * 5);
}

/* ---- SEW ---- */

div#main .container span.br_SEW {
    background-position: calc(var(--offset) * 10) calc(var(--offset) * 5);
}

div#main .container span.br_SEW.SE {
    background-position: calc(var(--offset) * 11) calc(var(--offset) * 5);
}

div#main .container span.br_SEW.SW {
    background-position: calc(var(--offset) * 12) calc(var(--offset) * 5);
}

div#main .container span.br_SEW.EW {
    background-position: calc(var(--offset) * 13) calc(var(--offset) * 5);
}

div#main .container span.br_SEW.SEW {
    background-position: calc(var(--offset) * 14) calc(var(--offset) * 5);
}

/* -------- 4 Gates -------- */

/* ---- NSEW ---- */

div#main .container span.br_NSEW {
    background-position: 0 calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.NS {
    background-position: calc(var(--offset) * 1) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.NE {
    background-position: calc(var(--offset) * 2) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.NW {
    background-position: calc(var(--offset) * 3) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.SE {
    background-position: calc(var(--offset) * 4) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.SW {
    background-position: calc(var(--offset) * 5) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.EW {
    background-position: calc(var(--offset) * 6) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.NSE {
    background-position: calc(var(--offset) * 7) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.NSW {
    background-position: calc(var(--offset) * 8) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.NEW {
    background-position: calc(var(--offset) * 9) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.SEW {
    background-position: calc(var(--offset) * 10) calc(var(--offset) * 6);
}

div#main .container span.br_NSEW.NSEW {
    background-position: calc(var(--offset) * 11) calc(var(--offset) * 6);
}


/*---------------- archetypes ---------------- */

div#main .container span.archetype-white {
    background-position: calc(var(--offset) * 9) 0;
}

div#main .container span.archetype-red {
    background-position: calc(var(--offset) * 10) 0;
}

div#main .container span.archetype-gold {
    background-position: calc(var(--offset) * 11) 0;
}

div#main .container span.archetype-yellow {
    background-position: calc(var(--offset) * 12) 0;
}

div#main .container span.archetype-green {
    background-position: calc(var(--offset) * 13) 0;
}

div#main .container span.archetype-blue {
    background-position: calc(var(--offset) * 14) 0;
}

div#main .container span.archetype-pink {
    background-position: calc(var(--offset) * 15) 0;
}


/*---------------- Miscellaneous ---------------- */

div#main .container span.misc-orb {
    background-position: calc(var(--offset) * 10) calc(var(--offset) * 1);
    margin: 0 0 0 .1em;
}

div#main .container span.misc-confirm {
    background-position: calc(var(--offset) * 13) calc(var(--offset) * 1);
    margin: 0 0 0 .1em;
}

div#main .container span.misc-arrow_up {
    background-position: calc(var(--offset) * 9) calc(var(--offset) * 1);
    margin: .1em 0 0 .1em;
}

div#main .container span.misc-arrow_down {
    background-position: calc(var(--offset) * 11) calc(var(--offset) * 1);
    margin: -.1em 0 0 .1em;
}